@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Lato&display=swap");


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background: linear-gradient(
    to bottom,
    rgba(223, 78, 223, 0.918) 5%,
    #387bf8 80%
  );
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styling Main Heading of Tic Tac Toe Game */
.main-heading {

  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-right: 20px;
}
.main-heading > div {
  margin-right: -20px;
  width: 80px;
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 50%;
  box-shadow: 0px 10px 3px -5px rgb(134, 99, 231) ;
}

.heading > p {
  background: linear-gradient(to bottom, rgb(231, 104, 231) 30% , #91b0eb 70% );
  -webkit-background-clip: text;
  font-size: 37px;
  background-clip: text;
  color: transparent;
  font-family: "Bungee", sans-serif;
}
#sec-heading p{
    position:absolute;
    text-shadow: 
      1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff;
    top:7%;
    left:59%;
    transform:rotate(15deg);
    color:rgb(241, 88, 241);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:55px;
}

/* Styling Navigation Card */

.navigation-card{
    height:10vh;
    width:300px;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.navigation-card > .player{
    padding:7px;
    width:150px;
    gap:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player  .checked{

  opacity:0.3;
}
.player >  i{
    font-size:30px;
    color:rgb(255, 214, 255);
}
.player >h3{
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Styling Message Component */
.message{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:25px;
  color:rgba(245, 245, 245, 0.788);
  display:block;
}

/* Styling Board for the game */
.board{
  display:flex;
  flex-direction: column;
  width:35vw;
  height:42vh;
  margin-top: 10px;
  background-color:rgba(245, 245, 245, 0.932);
  border-radius: 5px;

  box-shadow: 1px 1px 2px 3px #dee3ec;
}
.board  .row
{
  display:flex;
  width:100%;
  height:calc(42vh/3);
}

.row > div{
  display:flex;
  width:calc(35vw/3);
  justify-content: center;
  align-items: center;
}
.row:not(:nth-child(3)){
    
  border-bottom: 3px solid #387bf8c4;
}
.row > div:not(:nth-child(3)){

  border-right: 3px solid #387bf8a4;
}
#box-0 i{
   font-size:55px;
   color:#4281f8;
   text-shadow: 
   1px 1px 0 #7bd9d7,
   -1px -1px 0 #7bd9d7,
   1px -1px 0 #7bd9d7,
   -1px 1px 0 #7bd9d7;
}
#box-1 i{
  font-size:60px;
  color:#f99d17;
  text-shadow: 
   1px 1px 0 #fdb863,
   -1px -1px 0 #fdb863,
   1px -1px 0 #fdb863,
   -1px 1px 0 #fdb863;
}
